{% extends 'index.html'%}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col info">
             <h2>Transaction List</h2>
<ul>
    {% for transaction in transactions %}
    
        <li><a href="{% url 'transaction_detail' pk=transaction.pk %}">{{ transaction.confirming_user }} to {{ transaction.sender_wallet.address }}</a></li>
    {% empty %}
        <li>No transactions found.</li>
    {% endfor %}
</ul>

            </div>
        </div>
    </div>
</main>


{% endblock %}