{% extends 'index.html'%}

{% block content %}

<h2>Transaction Details</h2>
<p>Sender Wallet: {{ transaction.sender_wallet }}</p>
<p>Recipient Address: {{ transaction.recipient_address }}</p>
<p>Amount: {{ transaction.amount }}</p>
<p>Confirmed: {{ transaction.is_confirmed }}</p>
<p>Cancelled: {{ transaction.is_cancelled }}</p>
{% if transaction.is_confirmed or transaction.is_cancelled %}
    <p>Confirming User: {{ transaction.confirming_user }}</p>
{% endif %}
{% if not transaction.is_confirmed and not transaction.is_cancelled %}
   <a href="{% url 'confirm_transaction' pk=transaction.pk %}"><button class="btn btn-primary">Confirm</button></a>
   <a href="{% url 'cancel_transaction' pk=transaction.pk %}"><button class = "btn- btn-danger">Cancel</button></a> 
{% endif %}



{% endblock %}